{% extends 'base.html.twig' %}

{% block title %}Registro index{% endblock %}

{% block body %}
    <h1>Registro index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Input</th>
                <th>Output</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registro in registros %}
            <tr>
                <td>{{ registro.id }}</td>
                <td>{{ registro.input ? registro.input|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registro.output ? registro.output|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('registro_show', {'id': registro.id}) }}">show</a>
                    <a href="{{ path('registro_edit', {'id': registro.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('registro_new') }}">Create new</a>
{% endblock %}
